Data/KOs_for_functions.xlsx
Data/Respiration_rules.tsv
Data/Respiration_rules.xlsx
Data/candidate_sequences.fna
Data/candidate_statistics.tsv
Data/candidate_statistics.tsv
Data/metadata_r1-r5.tsv
Data/rules.tsv
Data/feature_table_r1-r5.tsv
